h1,
h2,
h3,
input,
button {
  font-family: 'Inter', system-ui;
}

.item {
  /* display: flex; */
  align-items: stretch;
  padding: 10px;
  text-align: center;
  margin: auto;
  /* margin-inline: auto; */
  /* display: inline-block; */
}


h1 {
  text-align: center;
 } 

input {
  width: 50%;
  padding: 5px 5px;
  margin: 4px 10px;
  border-radius: 5px;
  border-width: thin;
  border: none;
}

button {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background-color: transparent;
  transition-duration: 200ms;
  cursor: pointer;
  /* padding: 5px 5px; */
  border-width: thin;
  outline: none;
  border: none;
  background: white;
}

button:hover {
  opacity: 0.7;
}

/* header button {
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
} */

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #eff6ff;
  gap: 14px;
}

  * {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}


/* #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #eff6ff;
  gap: 14px;
} */




/* * {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Inter', system-ui;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #eff6ff;
  gap: 14px;
}

header {
  display: flex;
  align-items: stretch;
}

input {
  width: 10px;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 50%;
}

header button {
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  opacity: 0.7;
}

header button,
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: white;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: white;
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}

@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
} */


/* .btn {
  max-width: fit-content;
  display: flex;
  place-items: center;
  gap: 0.5em;
  background-color: hsl(var(--accent));
  color: hsl(var(--bg));
  text-decoration: none;
  padding: 0.5em;
  border-radius: var(--_radius);
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3),
    0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish),
    background-color var(--_tspeed_fast) var(--_ttype_squish);
} */